/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  padding: 0;
  margin: 0;
}

.main-body {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

#map {
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer {
  width: 100%;
}

.container {
  width: auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: nowrap;
}

.project-title {
  text-align: center;
  margin-bottom: 10px;
}

.social-logo {
  width: 24px;
}

.grid-container {
  position: relative;
  left: -15%;
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
}

.grid-item {
  padding: 5px 25px;
  text-align: center;
}

.map-div {
  width: 75%;
  background-color: aqua;
  height: 100%;
}

.side-bar {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 25%;
  right: 0;
  overflow: scroll;
}

.side-bar table {
  font-size: 75%;
}

.social-media-block {
  position: relative;
  left: 12.5%;
  width: fit-content;
}

.img-grp {
  display: flex;
  justify-content: space-around;
}

.link-div {
  position: relative;
  left: 50%;
  width: fit-content;
}

.link-div a {
  margin-right: 16px;
}

#population {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#population td,
#population th {
  border: 1px solid #ddd;
  padding: 8px;
}

#population tr:nth-child(even) {
  background-color: #f2f2f2;
}

#population tr:hover {
  background-color: #ddd;
}

#population th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
